/* Root Definitions */
:root {
  /* Define color variables */
  --primary-color: #1b1d1f;
  --secondary-color: #333;
  --text-color: #fff;
  --background-color: #e4e4d5;
  --accent-color: #ddd;
  --blue-color: #3f3fb5;
  --green-color: #00ff00;
  --link-color: var(--blue-color);
  --button-color: #8fad90;
  --button-hover-color: #839e85;
  --table-header-color: #406d99;
  --table-row-color: rgba(255, 255, 255, 0.9);
  --box-shadow-rgba-color: rgba(27, 29, 31, 0.1);
  --login-button-color: var(--green-color);
  --login-button-hover-color: #369456;
  --signup-link-color: var(--blue-color);
  --register-button-color: var(--green-color);
  --register-button-hover-color: #369456;
  --carousel-button-color: var(--green-color);
  --carousel-button-hover-color: #369456;
  --font-family: "Roboto", sans-serif;
}

/* Button Styles */
.button {
  /* Define button styles */
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  /* Button hover effect */
  background-color: var(--button-hover-color);
  transform: scale(1.1);
}

/* Button Usage */
button,
.quiz-container .quiz-button,
#startQuiz,
.login-button,
.signup-button,
.register-button {
  /* Apply button styles to various elements */
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

main {
  /* Main content styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  background-color: var(--background-color);
  flex: 1;
}

main section {
  /* Styles for sections within main content */
  flex: 0 0 calc(33% - 2.5em);
  margin: 1.25em;
  padding: 1.25em;
  box-shadow: 0 0.125em 0.3125em var(--box-shadow-rgba-color);
  border-radius: 0.5em;
  background-color: var(--background-color);
}

/* Specific Styles for Quiz Page Buttons */
#startQuiz,
#nextQuestion,
#submitQuiz {
  /* Quiz page button styles */
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

#startQuiz:hover,
#nextQuestion:hover,
#submitQuiz:hover {
  /* Button hover effect for quiz page buttons */
  background-color: var(--button-hover-color);
  color: var(--background-color);
}

/* Start Quiz Button Specific Style */
#startQuiz {
  /* Start quiz button style */
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  margin: 70px;
  transition: background-color 0.3s, color 0.3s;
}

#startQuiz:hover {
  /* Button hover effect for start quiz button */
  background-color: var(--button-hover-color);
  color: var(--background-color);
}

/* General Styles */
html,
body {
  /* Global styles for HTML and body elements */
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /* Header styles */
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

/* Navigation Styles */
nav {
  /* Navigation styles */
  background-color: var(--secondary-color);
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: var(--accent-color);
  color: black;
}

/* Footer Styles */
footer {
  /* Footer styles */
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
}

/* Main Content Styles */
main {
  /* Main content styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  background-color: var(--background-color);
  flex: 1;
}

main section {
  /* Styles for sections within main content */
  width: calc(33% - 40px);
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px var(--box-shadow-color);
  border-radius: 8px;
  background-color: var(--background-color);
}

/* Quiz Container Styles */
.quiz-page .quiz-container {
  /* Quiz container styles */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-content .question {
  /* Quiz question styles */
  margin-bottom: 20px;
}

.answer-button {
  /* Answer button styles */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-button:hover {
  /* Button hover effect for answer buttons */
  background-color: #0056b3;
}

.next-question-button {
  /* Next question button styles */
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}

.next-question-button:hover {
  /* Button hover effect for next question button */
  background-color: #1e7e34;
}

.timer {
  /* Timer styles */
  font-size: 1.2em;
  margin-bottom: 20px;
}

.quiz-container {
  /* Quiz container styles */
  width: 80%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px var(--box-shadow-color);
  border-radius: 8px;
  background-color: var(--background-color);
  background-image: url("../img/stadium.png");
  background-size: cover;
  background-position: center;
}

.quiz-container * {
  position: relative;
  z-index: 2;
}

.quiz-container #startQuiz {
  /* Start quiz button styles */
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.quiz-container #startQuiz:hover {
  /* Button hover effect for start quiz button */
  background-color: var(--button-hover-color);
  color: var(--background-color);
}

.quiz-page .quiz-container {
  /* Quiz container styles for quiz page */
  background-image: none;
  /* Add more styles as per your design for the quiz page */
}

/* Quiz Container Specific Styles */
.quiz-container {
  /* Quiz container styles */
  background-color: var(--table-row-color); /* Light background for the quiz */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--box-shadow-rgba-color);
  margin: 20px auto; /* Centering the quiz container */
  width: 80%;
  max-width: 600px; /* Adjust width as needed */
}

.quiz-results {
  /* Quiz results styles */
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Question Styles */
.question-container {
  /* Question container styles */
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.question-container h3 {
  /* Question heading styles */
  text-align: right;
  color: var(--primary-color);
  margin-bottom: 10px;
}

/* Question Container Styles */
.question-container ul {
  /* Question container ul styles */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.question-container li {
  /* Question container li styles */
  margin-bottom: 10px;
  text-align: left;
}

/* Style adjustments for radio buttons and labels */
.question-container input[type="radio"] {
  /* Radio button styles */
  margin-right: 10px;
}

.question-container label {
  /* Label styles */
  cursor: pointer;
}

/* Timer Styles */
#timer {
  /* Timer styles */
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: bold;
}

/* Next Question Button Styles */
#nextQuestion {
  /* Next question button styles */
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

#nextQuestion:hover {
  /* Button hover effect for next question button */
  background-color: var(--button-hover-color);
}

/* Results Display Styles */
.quiz-results {
  /* Quiz results styles */
  padding: 20px;
  text-align: center;
}

.quiz-results h3 {
  /* Styles for result headings */
  color: var(--primary-color);
  margin-bottom: 15px;
}

.quiz-results p {
  /* Paragraph styles for results */
  color: var(--secondary-color);
  font-size: 16px;
}

/* Responsive Design for Quiz */
@media screen and (max-width: 768px) {
  .quiz-container {
    /* Responsive styles for quiz container */
    width: 95%;
    padding: 10px;
  }
}

/* Button Styles */
button,
.quiz-container .quiz-button,
#startQuiz,
.login-button,
.register-button {
  /* Button styles */
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover,
#startQuiz:hover,
.login-button:hover,
.register-button:hover {
  /* Button hover effect */
  background-color: var(--button-hover-color);
  transform: scale(1.1);
}

/* Form Styles */
form button[type="submit"] {
  /* Form submit button styles */
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

form button[type="submit"]:hover {
  /* Button hover effect for form submit button */
  background-color: var(--button-hover-color);
  transform: scale(1.1);
}

/* Login and Registration Form Styles */
.login-container,
.registration-container {
  /* Styles for login and registration containers */
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form,
.registration-form {
  /* Styles for login and registration forms */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-form h2,
.registration-form h2 {
  /* Heading styles for login and registration forms */
  margin-bottom: 20px;
  color: var(--link-color);
}

.form-group {
  /* Form group styles */
  margin-bottom: 15px;
}

.form-group label {
  /* Label styles for form group */
  margin-bottom: 5px;
  text-align: left;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  /* Input field styles */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-link,
.login-link {
  /* Styles for signup and login links */
  margin-top: 15px;
  font-size: 0.9em;
}

.signup-link a,
.login-link a {
  /* Link styles */
  color: var(--signup-link-color);
  text-decoration: none;
  transition: color 0.3s;
}

.signup-link a:hover,
.login-link a:hover {
  /* Link hover effect */
  color: var(--button-color);
}

/* Carousel Styles */
.carousel-container {
  /* Carousel container styles */
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--box-shadow-rgba-color);
  position: relative;
}

.carousel-content {
  /* Carousel content styles */
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.carousel-item {
  /* Carousel item styles */
  flex: 0 0 100%;
  padding: 10px;
}

.carousel-button {
  /* Carousel button styles */
  background-color: var(--carousel-button-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  /* Button hover effect for carousel buttons */
  background-color: var(--carousel-button-hover-color);
}

.carousel-button-left {
  /* Styles for left carousel button */
  left: 10px;
}

.carousel-button-right {
  /* Styles for right carousel button */
  right: 10px;
}

/* Scoreboard Styles */
.scoreboard-wrapper {
  /* Scoreboard wrapper styles */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.scoreboard-container {
  /* Scoreboard container styles */
  flex: 1;
  max-width: 30%;
  min-width: 250px;
  box-shadow: 0 4px 8px var(--box-shadow-rgba-color);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--background-color);
}

.scoreboard-container h2 {
  /* Heading styles for scoreboard container */
  margin-bottom: 15px;
  text-align: center;
}

.scoreboard-container:last-of-type {
  /* Styles for the last scoreboard container */
  border-bottom: none;
}

table {
  /* Table styles */
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
}

th,
td {
  /* Table header and data cell styles */
  padding: 10px;
  border-bottom: 1px solid var(--accent-color);
}

th {
  /* Table header styles */
  background-color: var(--table-header-color);
  color: var(--text-color);
}

tbody tr:nth-child(even) {
  /* Styles for even rows in the table body */
  background-color: var(--table-row-color);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  nav ul {
    /* Responsive styles for navigation ul */
    flex-direction: column;
  }

  nav ul li {
    /* Styles for navigation list items */
    margin: 10px 0;
  }

  .scoreboard-container,
  .login-container,
  .registration-container {
    /* Responsive styles for containers */
    width: 95%;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
  }

  .scoreboard-wrapper {
    /* Styles for scoreboard wrapper in mobile view */
    flex-direction: column;
  }

  table {
    /* Styles for tables in mobile view */
    display: block;
    overflow-x: auto;
  }
}

.correct-answer {
  /* Styles for correct answers */
  background-color: #28a745;
  color: white;
}

.wrong-answer {
  /* Styles for wrong answers */
  background-color: #dc3545;
  color: white;
}
